#HeaderBar{
	background: white;
	padding: 15px 10px;
}
#FooterBar{
	background: #000;
	padding: 15px 10px;
	color: white;
}
thead{
	color:white;
}
tbody{
	color:blue;
}
table, td{
    border: 1px solid black;
}
body{
	background-color: silver;
}
main{
	padding: 15px;
}